{% extends 'base.html' %}

{% block content %}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">User Profile</div>
  
    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">Username: <strong>{{ user.username }}</strong></li>
      <li class="list-group-item">Account Number: {{ ups_acc.ups_account_number }}</li>
      <li class="list-group-item">Email: {{ user.email }}</li>
      <li class="list-group-item">Name: {{ user.first_name }} {{ user.last_name }}</li>
      <a href="{% url 'modify_ups_account' %}"><button type="button" class="btn btn-info">Edit Information</button></a>
    </ul>
  </div>
{% endblock %}